{% load static %}
{% load fbcat_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'fbcat/css/fbcss.css' %}">
    <link type="imagen/x-icon" rel="shortcut icon" href="{% static 'fbcat/img/icons8-facebook.svg' %}">
</head>
<body>
{% include 'fbcat/includes/hyperlinks.html' %}
{% cat_db as cat %}
{% for j in cat %}
{% if j.slug == cat_slug %}
<p>CATEGORIES WITH TAG "{{j.name|upper}}":</p>
{% for i in db %}
{% if i.cat_id == j.id %}
{% if i.is_published %}
    <h2>{{ i.title }}</h2>
    <p>{{ i.describe }}</p>
    <p><h3>Profile:<a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h3></p>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
</body>
</html>