{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'fbcat/css/fbcss.css' %}">
    <link type="imagen/x-icon" rel="shortcut icon" href="{% static 'fbcat/img/icons8-facebook.svg' %}">
</head>
<body>
{% include 'fbcat/includes/hyperlinks.html' %}
{% for i in DB_fb %}
{% if i.is_published %}
<li>
    <h2>{{ i.title }}</h2>
    <p>{{ i.describe }}</p>
</li>
{% endif %}
{% endfor %}
</body>
</html>