{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'fbcat/css/fbcss.css' %}">
    <link type="imagen/x-icon" rel="shortcut icon" href="{% static 'fbcat/img/icons8-facebook.svg' %}">
</head>
<body>
{% include 'fbcat/includes/hyperlinks.html' %}
<form action="" method="post">
    {% csrf_token %}
    <p><label for="id_1">Текст: </label> <input type="text" id="id_1" name="field_text"></p>
    <p><label for="id_2">Пароль: </label> <input type="password" id="id_2" name="field_psw"></p>
    <button>Відправити</button>
</form>
</body>
</html>