{% extends 'base.html' %}

{% load static %}

{% block main %}
<div id="main">
    {% for i in post %}
    <div id="messege">
        <div id="messege_head">
            <a href="{{ i.get_absolute_url }}"><img src="{% static 'fbcat/img/avatar.jpg' %}" alt="{{ i.title }}" title="Фото профілю"></a>
            <div class="Name"><b><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></b></div>
            <div class="Pub_date">{{ i.time_create }}</div>
            <div class="two-right-icon">
                <a href="#"><img src="{% static 'fbcat/img/three_dots_icon.png' %}" alt="3 dot"></a>
                <a href="#"><img src="{% static 'fbcat/img/chrest.png' %}" alt="chrest"></a>
            </div>
        </div>
        <div id="main_photo">
            <img src="{% static 'fbcat/img/avatar.jpg' %}" alt="avatar">
        </div>
        <div id="messege_bottom">
            <button>Подобається</button>
            <button>Коментувати</button>
            <button>Поширити</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
