{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'fbcat/css/fbcss.css' %}">
    <link type="imagen/x-icon" rel="shortcut icon" href="{% static 'fbcat/img/icons8-facebook.svg' %}">
</head>
<body>
{% include 'fbcat/includes/hyperlinks.html' %}
<p>
{% for i in tag_db %}
<a href="{{ i.get_absolute_url }}">{{ i.name }}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
</body>
</html>